<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>HRMS</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <a class="navbar-brand me-2" href="/home">
                <h4>HRMS</h4>
            </a>
        </div>
    </nav>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container" style="padding-top: 20px; padding-bottom: 40px;">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <h1 style="text-align: center;">Login</h1>
                        <hr>
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            {{login_form.as_p}}
                            {% for field in login_form %}
                            <p>
                                {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                            {% endfor %} {% if login_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{login_form.non_field_errors}}</p>
                            </div>

                            {% endif %}
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-dark" href="/home">Système de gestion des ressources humaines</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>

</html>