<!-- home.html -->
{% extends "responsable/base.html" %} {% block content %}
<div class="container col-md-12 col-auto" style="padding-top: 50px">
    <div class="form-row">
        <div class="form-group col-md-9">
            <h1>Liste des autorisations validées</h1>
        </div>
    </div>
    <div class="form-row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Codification</th>
                    <th scope="col">Nature</th>
                    <th scope="col">Nombre de jours</th>
                    <th scope="col">Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for autorisation in autorisations %}
                <tr>
                    <td>{{autorisation.date_debut}}</td>
                    <td>{{autorisation.date_fin}}</td>
                    <td>{{autorisation.codification}}</td>
                    <td>{{autorisation.nature}}</td>
                    <td>{{autorisation.nbr_jours}}</td>
                    <td><a class="btn btn-sm btn-dark" href="{% url 'detail_autorisation' autorisation.id %}">Détails</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}