<!-- home.html -->
{% extends "base.html" %} {% block content %}
<div class="container col-md-12 col-auto" style="padding-top: 50px">
    <div class="form-row">
        <div class="form-group col-md-10">
            <h1>Ajouter un utilisateur</h1>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 20px; padding-bottom: 30px;">

    <div class="col-md-12 col-auto">

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %} {{form.as_p}}
            <button type="submit" class="btn btn-success">Créer un utilisateur</button>
        </form>
    </div>
</div>
{% endblock content %}